/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}





/* ==========================================================================
   Author's custom styles
   ========================================================================== 

	#3498DB - PETER RIVER
	
	#2980B9 - BELIZE HOLE
	
	#34495E - WET ASPHALT
	
	#2C3E50 - MIDNIGHT BLUE
	
	#ECF0F1 - CLOUDS
	
	#BDC3C7 - SILVER
	
	#E67E22 - CARROT
	
	#D35400 - PUMPKIN
	
	#3B97D2 - Navigation Boarder
   
*/


/* 	General Page Styles
	-------------------
	-------------------
	------------------- */


html{
	background: #F2F2E2;
	font-family: 'Open Sans', sans-serif;
}

button{
	width: 130px;
	height: 44px;
	background: #E67e22;
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	color: #FFF;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

button:hover{
	background: #D35400;
}

input{
	font-family: "Open Sans" sans-serif;
}


/* 	Navigation Styles
	-------------------
	-------------------
	------------------- */


nav{
	background: #2C3E50;
}
#nav-sizer{
	width: 940px;
	height: 70px;
	margin: 0 auto;
}

#nav-sizer a{
	color: #FFF;
	text-decoration: none;
}

.logo{
	font-size: 35px;
	font-family: Museo-700;
	position: relative;
	top: 13px;
}

.logo-change{
	color: #E67E22;
}

.globe-nav{
	float: right;
	padding: 0 15px;
	height: 70px;
	border-left: #3B97D2 1px solid;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	line-height: 70px;
	list-style: none;
}

.globe-nav:nth-child(2){
	border-right: #3B97D2 1px solid;
}

.globe-nav:hover{
	background: #34495E;
	border-left: #3B97D2 1px solid;
}

nav .active{
	background: #34495E;
}


/* Logged In Navigation Styles */

nav form{
	display: inline;
}

nav form input{
	height: 30px;
	width: 300px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: #E67E22 solid 1px;
	background-image: url("../img/icons/search.png");
	background-position: right center;
	background-size: 40px 31px;
	background-repeat: no-repeat;
	margin: 8px 0 0 50px;
	padding: 0 0 0 10px;
	font-size: 14px;
	vertical-align: middle;
}

.notifcation-count{
	display: inline-block;
	background: #E67E22;
	border: 1px solid #FFF;
	padding: 2px 6px;
	margin: 0 0 0 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;	
	line-height: normal;
	font-size: 12px;
}

.user-dd{
		border-right: #3B97D2 1px solid;
}

.user-dd img{
	margin-right: 10px;
}

.user-dd ul{
	display: none;
	background-color: #2C3E50;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	margin: 0;
	padding: 0;
	width: 100%;
}

.user-dd ul li{
	font-size: 14px;
}

.user-dd ul li:hover{
	background: #34495E;
}



/* 	Content Styles 
	-------------------
	-------------------
	------------------- */


/* Landing */
.cta-search{
	width: 940px;
	margin: 0 auto;
	height: 300px;
	padding-top: 50px;
}

.cta-search h1{
	text-align: center;
	font-size: 50px;
}

.cta-search form{
	width: 780px;
	margin: 0 auto;
}

.cta-search select{
	width: 210px;
	height: 44px;
	border: #E67E22 solid 1px;
/* 	-webkit-appearance: none; */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-left: 10px;	
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
}

.cta-search select:focus{
	border: #E67E22 solid 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.cta-search form p{
	display: inline;
	padding: 0 10px;
}

.cta-search input{
	width: 365px;
	height: 40px;
	border: #E67E22 solid 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-left: 10px;
	font-family: 'Open Sans', sans-serif;
	margin-right: 10px;
}

.cta-search input:focus{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.landing-about{
	overflow: hidden;
	background: #34495E;
	padding: 30px 0;
	color: #F2F2E2;
}

.about-sizer{
	width: 940px;
	margin: 0 auto;
}

.landing-about section{
	width: 300px;
	float: left;
	margin-right: 20px;
}

.landing-about section:last-child{
	margin-right: 0;
}

.landing-about section img{
	display: block;
	margin: 0 auto;
}

.landing-about section h2{
	text-align: center;
	font-weight: 500;
	font-size: 26px;
}

.landing-about section p{
	font-size: 14px;
	text-align: left;
}

.landing-about section ul li{
	list-style: none;
	margin: 10px 0;
	color: #F2F2E2;
	text-align: center;
	width: 240px;
}

/* General Register/Login Styles  */
#register .content, #login .content{
	width: 640px;
	height: 375px;
	margin: 0 auto;
}

#register .content form, #login .content form{
	width: 300px;
	margin: 0 auto;
}

#register .content form input, #login .content form input{
	display: block;
	width: 300px;
	height: 36px;
	margin: 10px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: #E67E22 solid 1px;
	padding-left: 10px;
}

#register nav, #login nav{
	margin: 0 0 90px 0;
}

#register footer, #login footer{
	margin: 90px 0 0 0;
}

/* Social Media Buttons */
.sm-btn{
	width: 220px;
	height: 40px;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	line-height: 40px;
	cursor: pointer;
	color: #FFF;
	margin: 40px 10px 30px 0;
	
}

.sm-btn span{
	margin: 0 0 0 50px;
}

.fb-btn{
	background: #3C5A99;
	background-image: url("../img/icons/facebook.png"); 
	background-repeat: no-repeat;
	background-size: 14px 30px;
	background-position: left center;
	background-position-x: 10px;
	
}

.twitter-btn{
	background: #07ABF0;
	background-image: url("../img/icons/twitter.png"); 
	background-repeat: no-repeat;
	background-size: 30px 20px;
	background-position: left center;
	background-position-x: 10px;
}

.fb-btn:hover{
	background: #2C4570;
	background-image: url("../img/icons/facebook.png"); 
	background-repeat: no-repeat;
	background-size: 14px 30px;
	background-position: left center;
	background-position-x: 10px;
}

.twitter-btn:hover{
	background: #0A91C1;
	background-image: url("../img/icons/twitter.png"); 
	background-repeat: no-repeat;
	background-size: 30px 20px;
	background-position: left center;
	background-position-x: 10px;
}

/* Login */
#login .content form input:first-child{
	background-image: url("../img/icons/username.png");
	background-position: right center;
	background-size: 30px 38px;
	background-repeat: no-repeat;
}

#login .content form input{
	background-image: url("../img/icons/password.png");
	background-position: right center;
	background-size: 30px 38px;
	background-repeat: no-repeat;
}

#login .content form button{
	width: 100px;
	height: 36px;
	margin: 20px 0;
} 

#login .content form button a{
	text-decoration: none;
	margin: 0;
	font-size: 20px;
	color: #FFF;
}

#login .content form button a:hover{
	color: #FFF;
}

#login .content form a{
	font-size: 12px;
	margin: 0 0 0 70px;
}

#login .content form a:hover{
	color: #E67E22;
	cursor: pointer;
}

#login .content button:last-child{
	width: 300px;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	margin: 60px auto 0 auto;
}

/* Register*/
#register .content h1{
	margin: 0 0 30px 0;
	text-align: center;
}

#register .content p{
	text-align: center;
}

#register button{
	height: 36px;
	margin: 20px 0;
}

#register .content p a{
	text-decoration: none;
	color: #000;	
}

#register .content p a:hover{
	color: #E67E22;
}



/* 	Footer 
	-------------------
	-------------------
	------------------- */

footer{
	clear: both;
	font-size: 12px;
}

#footer-sizer{
	width: 960px;
	margin: 0 auto;
	padding: 20px 10px 0 0;
}

footer a{
	display: block;
	text-decoration: none;
	color: #000;
	margin: 5px 0;
}

footer a:hover{
	color: #E67E22;
}

.site-nav{
	width: 220px;
	float: left;
}

.site-nav p{
	color: #E67E22;
	font-weight: 700;
}

.site-nav:first-child{
	margin: 0;
}

.site-info{
	float: right;
	width: 220px;
}

.copyright{
	clear: both;
	text-align: center;
	padding: 20px 0;
}








































/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
