/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*hello world*/

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}





/* ==========================================================================
   Author's custom styles
   ========================================================================== 

	#3498DB - PETER RIVER
	
	#2980B9 - BELIZE HOLE
	
	#34495E - WET ASPHALT
	
	#2C3E50 - MIDNIGHT BLUE
	
	#ECF0F1 - CLOUDS
	
	#BDC3C7 - SILVER
	
	#E67E22 - CARROT
	
	#D35400 - PUMPKIN
	
	#3B97D2 - Navigation Boarder
   
*/


/* 	General Page Styles
	-------------------
	-------------------
	------------------- */


html{
	background: #F2F2E2;
	font-family: 'Open Sans', sans-serif;
}

button{
	width: 130px;
	height: 44px;
	background: #E67e22;
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	color: #FFF;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

button:hover{
	background: #D35400;
}

input{
	font-family: "Open Sans" sans-serif;
}


/* 	Navigation Styles
	-------------------
	-------------------
	------------------- */


nav{
	background: #2C3E50;
	padding: 0;
	margin: 0;
}

#nav-sizer{
	width: 940px;
	height: 70px;
	margin: 0 auto;
}

#nav-sizer a{
	color: #FFF;
	text-decoration: none;
}

.logo{
	font-size: 35px;
	font-family: Museo-700;
	position: relative;
	top: 13px;
}

.logo-change{
	color: #E67E22;
}

.globe-nav{
	float: right;
	padding: 0 15px;
	height: 70px;
	border-left: #3B97D2 1px solid;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	line-height: 70px;
	list-style: none;
}

.globe-nav:nth-child(3){
	border-right: #3B97D2 1px solid;
}

.globe-nav:hover{
	background: #34495E;
	border-left: #3B97D2 1px solid;
}

nav .active{
	background: #34495E;
}


/* Logged In Navigation Styles */

nav form{
	display: inline;
}

nav form input{
	height: 30px;
	width: 300px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: #E67E22 solid 1px;
	background-image: url("../img/icons/search.png");
	background-position: right center;
	background-size: 40px 31px;
	background-repeat: no-repeat;
	margin: 8px 0 0 50px;
	padding: 0 0 0 10px;
	font-size: 14px;
	vertical-align: middle;
}

.notifcation-count{
	display: inline-block;
	background: #E67E22;
	border: 1px solid #FFF;
	padding: 2px 6px;
	margin: 0 0 0 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;	
	line-height: normal;
	font-size: 12px;
}

.user-dd{
		border-right: #3B97D2 1px solid;
		position: relative;
		display: none;
}

.user-dd img{
	margin-right: 10px;
}

.user-dd a{
	display: none;
	background-color: #2C3E50;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border: none;
	margin: 0;
	padding: 0;
 	position: absolute; 
	/*position: relative;*/
	width: 100%;
	z-index: 1;
}

.dd-menu a{
	font-size: 14px;
	font-weight: 200;
	padding: 20px;
	border: none;
}

.dd-menu li:hover{
	background: #34495E;
}



/* 	Content Styles 
	Not Logged In
	-------------------
	-------------------
	------------------- */


/* Landing */

.landing .content{
	/*margin: 0 auto;*/
}

.cta-search{
	width: 940px;
	margin: 0 auto;
	height: 300px;
	padding-top: 50px;
}

.cta-search h1{
	text-align: center;
	font-size: 50px;
}

.cta-search form{
	width: 780px;
	margin: 0 auto;
}

.cta-search select{
	width: 210px;
	height: 44px;
	border: #E67E22 solid 1px;
/* 	-webkit-appearance: none; */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-left: 10px;	
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
}

.cta-search select:focus{
	border: #E67E22 solid 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.cta-search form p{
	display: inline;
	padding: 0 10px;
}

.cta-search input{
	width: 365px;
	height: 40px;
	border: #E67E22 solid 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-left: 10px;
	font-family: 'Open Sans', sans-serif;
	margin-right: 10px;
}

.cta-search input:focus{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.landing-about{
	overflow: hidden;
	background: #34495E;
	padding: 30px 0;
	color: #FFF;
}

.about-sizer{
	width: 940px;
	margin: 0 auto;
}

.landing-about section{
	width: 300px;
	float: left;
	margin-right: 20px;
}

.landing-about section:last-child{
	margin-right: 0;
}

.landing-about section img{
	display: block;
	margin: 0 auto;
}

.landing-about section h2{
	text-align: center;
	font-weight: 500;
	font-size: 26px;
}

.landing-about section p{
	font-size: 14px;
	text-align: left;
}

.landing-about section ul li{
	list-style: none;
	margin: 10px 0;
	color: #F2F2E2;
	text-align: center;
	width: 240px;
}

/* General Register/Login Styles  */
.login, .signup{
	width: 620px;
	margin: 0 auto;
	padding: 30px;
}

.login form, .signup form{
	width: 300px;
	margin: 0 auto;
}

.login form input, .signup form input{
	display: block;
	width: 300px;
	height: 36px;
	margin: 10px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: #E67E22 solid 1px;
	padding-left: 10px;
	
}

/* Social Media Buttons */
.sm-btns{
	width: 460px;
	margin: 0 auto;
}

.sm-btn{
	width: 220px;
	height: 40px;
	position: relative;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	line-height: 40px;
	cursor: pointer;
	color: #FFF;
	padding: 0;
	margin: 0;
}

.sm-btns p:first-child{
	padding: 0;
	margin: 0 20px 0 0;
}

.sm-btns p:last-child{
	margin: 0;
	padding: 0;
}

.sm-btn span{
	margin: 0 0 0 50px;
}

.fb-btn{
	background: #3C5A99;
	background-image: url("../img/icons/facebook.png"); 
	background-repeat: no-repeat;
	background-size: 14px 30px;
	background-position: left center;
	background-position-x: 10px;
	
}

.twitter-btn{
	background: #07ABF0;
	background-image: url("../img/icons/twitter.png"); 
	background-repeat: no-repeat;
	background-size: 30px 20px;
	background-position: left center;
	background-position-x: 10px;
}

.fb-btn:hover{
	background: #2C4570;
	background-image: url("../img/icons/facebook.png"); 
	background-repeat: no-repeat;
	background-size: 14px 30px;
	background-position: left center;
	background-position-x: 10px;
}

.twitter-btn:hover{
	background: #0A91C1;
	background-image: url("../img/icons/twitter.png"); 
	background-repeat: no-repeat;
	background-size: 30px 20px;
	background-position: left center;
	background-position-x: 10px;
}

/* Login */
.login div:nth-child(2){
	text-align: center;
	font-size: 12px;
	margin-top: 20px;
}

.login div:nth-child(2) span{
	display: inline-block;
	margin: 10px 0 0 0;
}

.login div:nth-child(2) span:before, .login div:nth-child(2) span:after{
	border-top: 1px solid #C1C0AE;
	display: block;
	height: 1px;
	content: " ";
	width: 280px;
	position: absolute;
	top: 180px;
}

.login div:nth-child(2) span:before{
	left: 390px;
	right: auto;
}

.login div:nth-child(2) span:after{
	right: 390px;
	left: auto;
}

.login form{
	padding: 20px 0 0 0;
}


.login form input:first-child{
	background-image: url("../img/icons/username.png");
	background-position: right center;
	background-size: 30px 38px;
	background-repeat: no-repeat;
}

.login form input{
	background-image: url("../img/icons/password.png");
	background-position: right center;
	background-size: 30px 38px;
	background-repeat: no-repeat;
}

.login form button{
	width: 100px;
	height: 36px;
	margin: 20px 0;
} 

.login form a{
	font-size: 12px;
	margin: 0 0 0 70px;
	text-decoration: none;
	color: #000;
}

.login form a:hover{
	color: #E67E22;
	cursor: pointer;
}

.login div:nth-child(4){
	width: 640px;
	border-top: solid 1px #C1C0AE;
	margin-top: 20px;
	text-align: center;
}

.login button:last-child{
	width: 300px;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	margin-top: 40px;
}

.login button:last-child a{
	text-decoration: none;
	color: #FFF;
}

/* Register*/
.signup h1{
	margin: 0 0 30px 0;
	text-align: center;
}

.signup p{
	text-align: center;
}

.signup button{
	height: 36px;
	margin: 20px 0;
}

.signupp a{
	text-decoration: none;
	color: #000;	
}

.signup p a:hover{
	color: #E67E22;
}




/* 	Content Styles
	Logged In User
	-------------------
	-------------------
	------------------- */
	
/* User Dashboard Styles */
.user-dashboard h1{
	color: #2C3E50;
	font-size: 26px;
	padding: 0 0 0 10px;
}

/* Tab Navigation */
.ud-tabs{
	float: left;
	width: 140px;
	padding: 0;
	margin: 0;
}

.ud-tabs li{
	list-style: none;
	font-size: 14px;
}

.ud-tabs li{
	color: #000;
	height: 100px;
	text-align: center;
	display: block;
	line-height: 140px;
	background-position: center top;
	background-position-y: 10px;
	background-repeat: no-repeat;
	font-weight: 600;
	cursor: pointer;
}

.ud-tabs li:hover{
	color: #E67E22;
}

/*
.ud-tabs li:active{
	color: #000;
}
*/

.ud-tab-active{
	background-color: #FFF;
	background-repeat: no-repeat;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.ud-tab-active a{
	font-weight: 700;
	background-repeat: no-repeat;
	background-size: 36px 44px;
	width: 100%;
}

/* Content */
.user-dashboard, .study-deck{
	width: 940px;
	margin: 0 auto;
}

.user-dashboard h2{
	color: #2C3E50;
	font-size: 20px;
	padding: 0 0 10px 0;
	margin-bottom: 0;
}

.ud-tab-content{
	overflow: hidden;
	width: 690px;
	background: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px 55px 40px;
	margin: 0;
}


/* Study Styles  */
.recently-studied h3{
	float: left;
}

.recently-studied form select{
	float: right;
	height: 21px;
	position: relative;
	top: 20px;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	border: #E67E22 solid 1px;
	background-image: url("../img/icons/dropdown_arrow.png");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 16px 21px;
	overflow: hidden;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    padding-left: 5px;
}

.recently-studied p{
	clear: both;
}

.rs-item span{
	width: 90px;
	font-size: 12px;
	display: inline-block;
}

.rs-item a{
	text-decoration: none;
	font-weight: 700;
	color: #E67E22;
}

.rs-item a:hover{
	color: #2C3E50;
}

.your-decks{
	clear: both;
}

.clearfix{
	clear:both;
}

.your-decks > p{
	float: left;
	font-size: 12px;
	position: relative;
	top: -7px;
}

.your-decks button{
	float:left;
	font-size: 12px;
	height: 25px;
	width: 100px;
	margin: 0 5px;
}

.your-decks button:nth-child(6){
	float: right;
}

.filters{
	background: #666659;	
}

.filters:hover{
	background: #54544D;
}

.activeFilter{
	background: #34495E;
}

.activeFilter:hover{
	background:	#2C3E50;
}

.deck{
	width: 320px;
	float: left;
	margin: 20px 50px 0 0;
}

.deck:nth-child(odd){
	margin-right: 0;
}

.deck p:first-child a{
	font-weight: 700;
	text-decoration: none;
	color: #E67E22;
}

.deck p{
	padding: 0;
	margin: 5px;
	font-size: 14px;
}

.deck p:first-child a:hover{
	color: #2C3E50;
}

.deck-info{
	float: left;
}

.deck-social{
	float: right;
	vertical-align: middle;
}

.deck-social p:nth-child(1), .deck-social p:nth-child(2){
	display: inline-block;
}

.deck-social p:nth-child(1){
	position: relative;
	left: 15px;
}

.deck-social p:nth-child(2){
	font-size: 24px;
	font-weight: 700;
	position: relative;
	top: 5px;
	left: 10px;
} 

.deck-social p:nth-child(3) a{
	text-decoration: none;
	color: #E67E22;
}

.deck p:last-child{
	clear: both;
}

.deck :last-child a{
	text-decoration: none;
	color: #E67E22;
}

/* Notifications Styles */
.user-notification{
	margin: 20px 0;
	padding: 20px 0 30px 0;
}

.user-notification{
	padding-top: 20px;
}

.user-notification:last-child{
	padding-bottom: 50px;
}

.user-notification img{
	float: left;
	margin: 0 20px 0 0;
}

.user-notification p{
	margin: 0;
	padding: 0;
}

.user-notification p:nth-child(2){
	font-size: 12px;
	padding: 5px 0 0 0;
}

.user-notification p:nth-child(3){
	float: left;
	margin: 5px 0 0 0;
}

.user-notification p a{
	text-decoration: none;
	color: #E67E22;
}

.user-notification p a:hover{
	color: #D35400;
}

.user-notification button{
	font-size: 12px;
	width: 70px;
	height: 25px;
	float: right;
	margin: 0 10px 0 0;
}

.user-notification button:first-child{
	margin: 0;
	padding: 0;
}

/* Acheivements  */

/*#achievements p:nth-child(3){
	float: left;
	margin: 0 0 10px 0;
	font-size: 14px;
	
}

#achievements p:nth-child(4){
	float: right;
	margin: 0 10px 10px 0;
	font-size: 14px;
	font-weight: 600;
}*/

.level-progress{
	clear: both;
	margin: 20px 0 0 0;
	height: 20px;
	position: relative;
	background: #54544D;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
}

.level-progress span{
	float: left;
	position: relative;
	display: hidden;
	height: 100%; 
	display: block;
	padding: 0;
	margin: 0;
	border-right: 1px solid #54544D;
}

.level-progress span:first-child{
	width: 10%;
	background-color: #FFF;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.level-progress span:first-child span:first-child{
	background-color: green;
	border: none;
	width: 100%;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.level-progress span:nth-child(2){
	background-color: #FFF;
	width: 20%;
}

.level-progress span:nth-child(2) span:first-child{
	background-color: orange;
	width: 87%;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
/* 	display: none; */
}

.level-progress span:nth-child(3){
	background-color: #FFF;
	width: 30%;
}

.level-progress span:nth-child(3) span:first-child{
	background-color: blue;
	width: 12%;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	display: none;
}

.level-progress span:nth-child(4){
	background-color: #FFF;
	border: none;
	width: 39%;
	height: 100%;
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.level-progress span:nth-child(4) span:first-child{
	background-color: blue;
	width: 89%%;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	background-color: purple;
	display: none;
}

/* User Settings */
.ud-tab-content form img{
	float: left;
	margin: 20px 0 20px 0;
}

.ud-tab-content form input{
	display: block;
	width: 677px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: #E67E22 solid 1px;
	padding-left: 10px;
	font-size: 12px;
	height: 35px;
	margin: 10px 0;
}

.ud-tab-content form input:nth-child(2){
	appearance: none;
	width: 100px;
	height: 30px;
	border: none;
	float: left;
	margin: 80px 0 0 20px;
	position: relative;
	opacity: 0;
	z-index: 4;
}

.fake-file{
	height: 40px;
	width: 100px;
	background-color: #E67E22;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: relative;	
	left: -100px;
	top: 60px;
	float: left;
	cursor: pointer;
}

.fake-file p{
	font-size: 12px;
	color: #FFF;
	text-align: center;
}

.fake-file:hover{
	background-color: #D35400;
}

.change-password{
	margin: 30px 0 10px 0;
	font-weight: 700;
}

.ud-tab-content form button{
	margin: 20px 0;
	float: left;
}

.ud-tab-content form p a:last-child{
	font-size: 12px;
	text-decoration: none;
	float: left;
	position: relative;
	top: 28px;
	left: 20px;
}

.ud-tab-content form p a:last-child:hover{
	color: #E67E22;
}

/* Breadcrumbs */
.back-to-dash{
	margin: 20px 5px;	
	display: block;
	text-decoration: none;
	color: #2C3E50;
	font-size: 14px;
}

.back-to-dash:hover{
	color: #E67E22;
}

/* Study Deck Styles */
.study-deck aside{
	margin: 0 0 20px 0;
	overflow: auto;
	width: 220px;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: left;
}

.study-deck .header{
/* 	overflow: auto; */
	background-color: #54544D;
	padding: 0 5px;
	height: 40px;
	color: #FFF:
}

.study-deck .header h2{
	margin: 0;
	padding: 10px;
	float: left;
	font-size: 16px;
	font-weight: 500;
	color: #FFF;
}

.study-deck .header p{
	float: right;
	margin-right: 10px;
	vertical-align: middle;
	line-height: 100%;
	color: #FFF;
}

.study-deck .header p img{
	margin-right: 5px;
}

.study-deck .header:nth-child(3){
	margin: 20px 0 0 0;
}

.sd-deck-info, .challenge, .quiz-stats{
	padding: 0 10px;
}

.sd-deck-info a{
	text-decoration: none;
	color: #E67E22;
	font-weight: 600;
	font-size: 14px;
}

.sd-deck-info a:hover{
	color: #34495E;
}

.sd-deck-info p{
	font-size: 14px;
	margin: 5px 0;
}

.sd-deck-info h3{
	font-size: 18px;
	margin: 20px 0 5px 0;
}

.sd-deck-info button{
	width: auto;
	height: auto;
	font-size: 12px;
	margin: 5px 0;
	font-weight: 600;
	letter-spacing: 1.3px;
}

.quiz-stats, .challenge{
	font-size: 14px;
}

.quiz-stats h3{
	font-size: 22px;
	margin: 5px 0;
}

.quiz-stats a, .challenge a{
	font-weight: 700;
	text-decoration: none;
	color: #E67E22;
	font-size: 14px;
}

.quiz-stats a:hover, .challenge a:hover{
	color: #34495E;
}

.study-content{
	width: 700px;
	float: right;
	overflow: hidden;
	background-color: #FFF;
}

.study-content .header{
	-webkit-border-top-left-radius: 03px;
	-webkit-border-top-right-radius: 03px;
	-moz-border-radius-topleft: 03px;
	-moz-border-radius-topright: 03px;
	border-top-left-radius: 03px;
	border-top-right-radius: 03px;
	height: 40px;
}

.study-content .header a{
	text-decoration: none;
	color: #FFF;
	line-height: 40px;
	border-right: 1px solid #F2F2E2;
	display: inline-block;
	padding-right: 15px;
	margin: 0 0 0 10px;
	font-size: 14px;
}

.active-study-tab{
	font-weight: 600;
}

.study-content button{
	height: 25px;
	width: auto;
	font-size: 12px;
	margin-left: 20px;
	margin-top: 20px;
}

.study-content button:nth-child(2), .study-content button:nth-child(3){
	background-color: #54544D;
}

/* NOT WORKING! */
.card-sort-active button{
	background-color: #2C3E50;
}

.study-content button:nth-child(6), .study-content button:nth-child(7){
	float: right;
	margin-right: 20px;
}

.study-content button:nth-child(7){
	display: none;
}

.study-content input, .study-content label{
	position: relative;
	top: 2px;
}
.study-content input{
	margin: 0 5px 0 20px;
}

.study-content label{
	font-size: 14px;
}

.flash-card{
	width: 520px;
	height: 248px;
	margin: 60px auto;
}

.card{
	width: 449px;
	height: 248px;
	border: 1px solid #000;
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 30px;
	background-image: url("../img/flashcards/flashcard.png");
	float: left;
	margin: 0 auto;
	padding: 0;
}	

.card p{
	margin: 0 auto;
	vertical-align: middle;
	padding: 0 30px;
	font-weight: 700;
	font-size: 22px;
	position: relative;
	top: 75px;
	
}

.card p:last-child{
	font-size: 12px;
	color: #484C4C;
	font-weight: 600;
	top: 160px;
	right: 15px;
}

.card p:last-child img{
	position: relative;
	bottom: 2px;
	right: 2px;
}

.controls{
	position: relative;
	top: 100px;
}

.left-arrow{
	float: left;
	margin-right: 20px;
}

.right-arrow{
	float: left;
	margin-left: 20px;
}

.practice-more, .mastered, .flip{
	clear: both;
	display: inline-block;
	margin: 20px 0 40px 0;
	cursor: pointer;
}

.practice-more, .mastered{
	width: 50px;
	height: 40px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.practice-more{
	background-color: #951400;
	background-image: url("../img/icons/practice_more.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 25px 25px;
	margin-left: 32px;
}

/* Practice more selected color #C11200 */

.practice-more:hover{
	background-color: #720B00;
}

.flip{
	width: 60px;
	height: 40px;
	background-color: #E87C00;
	background-image: url("../img/icons/flip.png");
	background-position: center center;
	background-size: 38px 31px;
	background-repeat: no-repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left: 140px;
}

.flip:hover{
	background-color: #D35400;
}

.mastered{
	background-color: #009245;
	background-image: url("../img/icons/mastered.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 31px 26px;
	float: right;
	margin-right: 37px;
}

/* Mastered selected color #00B753 */

.mastered:hover{
	background-color: #007233;
}



/* User Profile */
.user-profile .content > a{
	margin: 20px 0;	
	display: block;
	text-decoration: none;
	color: #2C3E50;
}

.user-profile > a:hover{
	color: 	#E67E22;
}

.user-profile aside{
	width: 200px;
	background: #FFF;
	padding: 10px 10px;
	overflow: hidden;
	float: left;
}

.user-profile aside > p{
	font-weight: 700;
	font-size: 14px;
}

.user-profile aside > p span{
	float: right;
}

.user-profile .level-progress{
	width: 180px;
}

.user-profile .level-progress span{
	margin: 0;
}

.user-profile .level-progress span:nth-child(4){
	width: 28%;
}

.user-profile .level-progress span:nth-child(2) span{
	width: 87%;
}

.friends-list h2{
	float: left;
	margin: 10px 0 20px; 0;
	padding: 0;
	
}

.friends-list h2:first-child{
/* 	margin-right: 80px; */
}

.friend{
	clear: both;
	overflow: hidden;
	padding: 0;
	margin: 20px 0;
/*
	background-image: url("../img/icons/award.png");
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: right center;
*/
	font-size: 12px;
}

.friend img{
	float: left;
}

.friend h3{
	font-weight: 600;
	margin: 5px 0 0 20px;
	display: inline-block;
}

.friend h3 a{
	text-decoration: none;
	color: #000;
}

.friend h3 a:hover{
	color: #E67E22;
}

.friend p{
	display: inline-block;
	padding: 0;
	margin: 0;
	margin: 5px 0 0 20px;
}

.friends-list p:last-child a{
	float: right;
	text-decoration: none;
	color: #000;
}

.friends-list p:last-child a:hover{
	color: #E67E22;
}

.profile{
	overflow: hidden;
	width: 700px;
	background: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0;
	float: right;
}

.user-info{
	padding: 0 20px 20px 20px;
}

.user-info h2{
	float: left;
}

.user-info button:nth-child(2){
	width: 100px;
	height: 30px;
	font-size: 14px;
	float: right;
	margin: 20px 10px 0 0;
}

.user-info .your-decks{
	clear: both;
	overflow: hidden;
}

.user-info .your-decks .deck{
	width: 300px;
	margin-right: 30px;
}

.recent-activity h3{
	margin-bottom: 0;
}

.recent-activity .activity{
	overflow: hidden;
	font-size: 14px;
	padding: 0;
	margin: 0;
	border-bottom: #666659 solid 1px;
	padding: 10px 0;
}

.recent-activity .activity:last-child{
	border: none;
}

.recent-activity .activity p:first-child{
	float: left;
}

.recent-activity .activity p:last-child{
	float: right;
}

.recent-activity .activity a{
	text-decoration: none;
	color: #34495E;
	font-weight: 700;
}

.recent-activity .activity a:hover{
	color: #E67E22;
}


/* 	Footer 
	-------------------
	-------------------
	------------------- */

footer{
	clear: both;
	font-size: 12px;
}

#footer-sizer{
	width: 960px;
	margin: 0 auto;
	padding: 20px 10px 0 0;
}

footer a{
	display: block;
	text-decoration: none;
	color: #000;
	margin: 5px 0;
}

footer a:hover{
	color: #E67E22;
}

.site-nav{
	background-color: #F2F2E2;
	width: 220px;
	float: left;
}

.site-nav p{
	color: #E67E22;
	font-weight: 700;
}

.site-nav:first-child{
	margin: 0;
}

.site-info{
	float: right;
	width: 220px;
}

.copyright{
	clear: both;
	text-align: center;
	padding: 20px 0;
}








































/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
